.navigation{
    display: flex;
    flex-direction: row;
}

.navigation li{
    list-style: none;
}



.navigation li a{
    text-decoration: none;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 1.2px;
}
